<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="post" th:object="${grades}" th:action="@{/handleForm}">
        <input th:field="*{name}" type="text" placeholder="name">
        <br><br>
        <input th:field="*{subject}" type="text" placeholder="subject">
        <br><br>
        <input th:field="*{score}" type="text" placeholder="score">
        <br><br>
        <button onclick="submit">Submit</button>
    </form>
</body>
</html>